{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}
