{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <h1>Pages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Rank</th>
                <th>Title</th>
                <th>Metadesc</th>
                <th>Url</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td><a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.id }}</a></td>
                <td>{{ page.rank }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.metaDesc }}</td>
                <td>{{ page.url }}</td>
                <td>{{ page.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('page_show', { 'id': page.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
