{% extends 'base.html.twig' %}
{% block title %}{{ page.title }}{% endblock %}
{% block body %}
    <h1>{{ page.title }}</h1>
    <label>URL: </label><a href="{{ page.url }}">{{ page.url }}</a>
    <br/>
    <br/>
    <table>
        <tbody>
        <tr>
            <td>Title:</td>
            <td>{{ page.title }}</td>
        </tr>
        <tr>
            <td>Page Desc:</td>
            <td>{{ page.metaDesc }}</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <th>Anchor Text</th>
            <th>Anchor Type</th>
            <th>Anchor Url</th>
        </tr>
        {% for page_detail in page.pageDetails %}
            <tr>
                <th>{{ page_detail.id }}</th>
                <th>{{ page_detail.anchorText }}</th>
                <th>{{ page_detail.anchorType }}</th>
                <th><a href="{{ page_detail.anchorUrl }}">{{ page_detail.anchorUrl }}</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
