{% extends 'base.html.twig' %}
{% block title %}Keyword manager{% endblock %}
{% block body %}
    <h1>Keywords list</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <input type="submit" value="Regis" />
    {{ form_end(form) }}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Keyword</th>
                <th>Status</th>
                <th>Inputdate</th>
            </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
            <tr>
                <td>{{ keyword.id }}</td>
                <td>{{ keyword.keyWord }}</td>
                <td>
                    {% if keyword.status == 0 %}
                            Todo
                    {% elseif keyword.status == 1 %}
                            In Progress[Anchor generate]
                    {% elseif keyword.status == 2 %}
                            In Progress[Url List generate]
                    {% elseif keyword.status == 3 %}
                        <a target="_blank" href="{{ path('keyword_show', { 'id': keyword.id }) }}">Done</a>
                    {% endif %}
                </td>
                <td>{% if keyword.inputDate %}{{ keyword.inputDate|date('Y/m/d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
