{% extends 'base.html.twig' %}
{% block title %}{{ keyword.keyWord }}{% endblock %}
{% block body %}
    <h1>{{ keyword.keyWord }}</h1>

    <table>
        <tbody>
        <tr>
            <th>Rank</th>
            <th>Title</th>
            <th>Url</th>
        </tr>
        {% for page in keyword.pages %}
            <tr>
                <td>{{ page.rank }}</td>
                <td>{{ page.title }}</td>
                <td><a target="_blank" href="{{ url('page_show', { 'id': page.id }) }}">{{ page.url }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
